<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock title %}</title>
		<link rel="shortcut icon" type="image/x-icon"
		href="{{ url_for('static', filename='img/favicon.ico') }}"/>


		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/united/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css">

		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>			
		<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

		{# Link any other .css or .js found in app static folder. #}
		<style>
		{# Add simple CSS style tweaks here. #}
		</style>
		  <script>
        $(function() {
         $(".appointment-delete-link").on("click", function() {
           var delete_url = $(this).attr('data-delete-url');
           $.ajax({
             url: delete_url,
             type: 'DELETE',
             success: function(response) {
             	console.log(response.status);
               if (response.status == 'OK') {
                 window.location = {{ url_for('appointment_list')
				}}; } else {
  					alert('Delete failed.')
				}
			  }
           });
           return false;
		}); });
</script>


		{% block extra_head %}{% endblock extra_head %}
	</head>
	<body>
		<div id="main">
			<div class="utility-nav navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
			          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
			          <a class="brand" href="/">Sched</a>
			          <div class="nav-collapse collapse">
			            <ul class="nav">
			              <li class="active"><a href="/appointments">My appointments</a></li>
			              <li><a href="/appointments/create">Create an Appointment</a></li>
			              <li class="dropdown">
			                <a href="#" class="dropdown-toggle" data-toggle="dropdown">email@cimat.mx <b class="caret"></b></a>
			                <ul class="dropdown-menu">
			                  <li><a href="/logout">Cerrar sesión</a></li>
			                </ul>
			             </li>
			            </ul>
			          </div><!--/.nav-collapse -->
					</div>
				</div>
			</div>
		<br><br>
		<div class="content container" style="margin-top:30px;">	
		{% block main %}{% endblock main %}
		</div>
		</div>
	</body>
</html>

